.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 0;
  padding: 1rem 0;
}
.toolbar-lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.toolbar-lists a {
  display:block;
  color: #000;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  text-decoration: none;
  border-bottom: 0.0625rem solid #ccc;
}
@media (min-width: 48.0625rem) {
  .toolbar {
    padding: 1rem;
    flex-direction: row;
  }
  .toolbar-lists {
    width: initial;
    flex-direction: row;
    display: flex;
    font-size: 0.75rem;
  }
  .toolbar-lists a {
    border: 0;
  }
}
