body {
  background-color: #fff;
}
main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 3.75rem)) 1fr;
  grid-gap: 2.5rem;
  padding: 1.875rem 0;
}
.text--medium {
  font-family: sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  align-self: flex-end;
  padding: 0.125rem;
}
.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 3.75rem));
  grid-gap: 2.5rem;
}

/* Media Queries */
@media only screen and (max-width: 43.75rem) {
  main {
    grid-gap: 1.25rem;
  }
}
@media only screen and (max-width: 31.25rem) {
  main {
    grid-template-columns: 0.625rem repeat(6, 1fr) 0.625rem;
    grid-gap: 0.625rem;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.25rem;
  }
}
