* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fff;
}
main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 30px 0 ;
}
.text--medium {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  align-self: flex-end;
  padding: 2px;
}
.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}
.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.card:hover {
  transform: translateY(-7px);
}
.card_image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}
.card_image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card_image-container:hover .overlay {
  height: 100%;
}
.overlay {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.save-button {
padding:0.5em 3em;
background-color: #fff;
border:0.16em solid rgb(173, 172, 172);
margin:0;
box-sizing: border-box;
text-decoration:none;
text-transform:uppercase;
font-family:'Roboto',sans-serif;
font-weight:400;
color:rgb(134, 133, 133);
text-align:center;
transition: all 0.15s;
max-height: 2.5rem;
margin-top: 3rem;
}
a.save-button:hover{
color:rgb(63, 62, 62);
border-color: rgb(65, 64, 64);
}
a.save-button:active{
color: rgb(65, 62, 62);
border-color: rgb(65, 64, 64);
}
.text {
  white-space: nowrap;
  color: rgb(0, 0, 0);
  font-size: 20px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  height: 102px;
}
.card_content {
  padding: 10px;
}
.card_info {
  display: flex;
  align-self: end;
  align-items: center;
}
.designer-logo {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-self: flex-end;
  padding: 2px;
}
.company-info {
 color:#00bcd4;
 font-size: 8px;
 padding: 2px;
}
.designer_logo {
  border-radius: 50%;
}
.card_engagement {
    margin-left: auto;
    width: 27px;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}
  @media only screen and (max-width: 700px) {
    main {
      grid-gap: 20px;
    }
  .card {
    grid-column-end: span 12;
  }
}
  @media only screen and (max-width: 500px) {
    main {
      grid-template-columns: 10px repeat(6, 1fr) 10px;
      grid-gap: 10px;
    }
    .cards {
      grid-column: 2 / span 6;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;

    }
  .card {
    grid-column-end: span 6;
  }
}

