.header,
.lists {
  display: flex;
  flex-direction: column;
}
.header {
  justify-content: space-between;
  border-bottom: 0;
  padding: 1rem 0;
}
.wrapper {
  width: 100%;
}
.logo {
  display: block;
  margin: 0 auto 1rem auto;
}
.dribbble-logo {
  width: 100%;
  margin-right: 0.75rem;
}
.lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.lists a {
  display:block;
  color: #000;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: .4em;
  text-decoration: none;
  border-bottom: 0.0625rem solid #ccc;
}
.profile-picture-wrapper {
  display: block
}
.profile-picture {
  width: 1.5625rem;
  border-radius: 50%;
}
/* Media Queries */
@media (min-width: 48.0625rem) {
  .header {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.0625rem solid #ccc;
  }
  .wrapper {
    width: initial;
    flex-direction: row;
    display: flex;
    align-items: center;
  }
  .dribbble-logo {
    width: 6.25rem;
  }
  .logo {
    margin: 0;
  }
  .lists {
   flex-direction: row;
   justify-content: flex-start;
   font-size: 0.75rem;
   align-items: center;
  }
  .lists a {
    border: 0;
  }
}
